# Camera config for IR scene 1 (key=value)
aspect_ratio=1.7777778
image_width=2000
samples_per_pixel=2000
max_depth=50
vfov=20.0
lookfrom=13.0 2.0 3.0
lookat=0.0 0.0 0.0
vup=0.0 1.0 0.0
defocus_angle=0.6
focus_dist=10.0
background=0.70 0.80 1.00
